<h1>Galpão <%= @warehouse.code %> </h1>
<h2> <%= @warehouse.description %> </h2>

<div>
  <strong>Nome:</strong> <%= @warehouse.name %>
  <strong>Cidade:</strong> <%= @warehouse.city %>
  <strong>Área:</strong> <%= @warehouse.area %> m²
  <strong>Endereço:</strong> <%= @warehouse.address %> <strong>CEP:</strong> <%= @warehouse.postal_code %>
</div>

<div>
  <%= link_to('Editar', edit_warehouse_path(@warehouse.id)) %>
  <%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete) %>
  <%# diferença entre link e button: link é geralmente feito para metodos do tipo GET, em que o usuario nao realiza ações diretas com ele. button é utilizado para os outros metodos em que existe a possibilidade de algum evento ao clicar (patch, delete, post) %>
</div>
<div>
  <%= link_to('Voltar', root_path) %>
</div>